[MASTER]
init-hook='import sys; sys.path.append(".")'

[MESSAGES CONTROL]
disable=
    C0111,  # missing-docstring
    C0103,  # invalid-name
    R0903,  # too-few-public-methods
    R0913,  # too-many-arguments

[FORMAT]
max-line-length=88

[BASIC]
good-names=i,j,k,ex,Run,_,id,db

[TYPECHECK]
ignored-modules=beanie,motor

